<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productivity Website</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <!-- Home page welcome message-->
    <div class="home-content">
        <h1>Welcome to Productive Progress</h1>
        <h2>Home for everything you need to be as productive as you can.</h2>
        <p>Click the tabs below to start being productive today</p>
    </div>
    
    <!-- Naviagation bar to other links in site-->
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="/">Home Page</a></li>
                <li><a href="/journal">Journal</a></li>
                <li><a href="/to-do-list">To Do List</a></li>
                <li><a href="/goals">Goals</a></li>
                <li><a href="/meals">Meal Tracker</a></li>
                <li><a href="/email">Email</a></li>
            </ul>
        </nav>
    </div>

</body>
</html>